@import url('https://fonts.googleapis.com/css2?family=Jura&family=Major+Mono+Display&family=Orbitron&family=Share+Tech+Mono&display=swap');

.menu{
    color: #940FA6;
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    font-family: 'Share Tech Mono', monospace; 
    font-size: 25px;
    padding-top: 25px;
}
.menu p a{
    text-decoration: none;
    color: #940FA6;
}
.menu li a{
    text-decoration: none;
    color: #D813F2;
}
.menu li a:hover{
    text-shadow: 0 0 15px white;
    color: white;
    transition: all 0.7s ease;
}
.menu li{
    list-style: none;
    display: inline-block;
    margin-right: 50px;
    margin-left: 25px;
    
}
header{
    background-color: black;
}
body{
    margin: 0%;
    font-family: 'Orbitron', sans-serif;
    background-image: url(../images/fondo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.space{
    height: 15vh;
}
.rent{
    background-color: #d813f26e;
    height: 50vh;
}

img{
    width: 300px;
    border: 5px solid #14D9D9;
}
.product{
    color: azure;
    margin-left: 15%;
    margin-bottom: 100px;
    display: inline-block;  
    background-color: black;
}
main{
     background-color: rgba(0, 0, 0, 0.514);
     
     letter-spacing: 2px;
     
}
.info-p{
    text-align: center;
}
h1{
    color: #14D9D9;
    text-align: center;
    /* font-family: 'Jura', sans-serif; */
    font-size: 40px;
    letter-spacing:13px;
    text-shadow: 0 0 15px #14D9D9;
}

section{
    color: aliceblue;
    /* background-color: #f072f275; */
    padding-top: 50px;
    /* display: flex; */
}
.quienes-somos{
    color: #14D9D9;
    padding-left: 20vw;
    padding-right: 20vw;
}

article img{
    width: 800px;
    border: 0px;
}
article{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #d813f26e;

}
.cont-not{
    /* margin-left: 80px; */
    padding-left: 80px;
    padding-right: 40px;
    width:40vw;
    letter-spacing: 8px;
    text-shadow: 0 0 10px;
    background-color: rgba(0, 0, 0, 0.349);
    /* width: 400px; */
}
.cont-not p{
    letter-spacing: 2px;
}


footer{
    margin: 0px;
    background-color: #14D9D9;
}
.f-dat{
    display: flex;
}
.cr p{
    font-family: 'Share Tech Mono', monospace; 
    text-align: center;
    margin: 0px;
    color: black;
    padding-top: 30px;
    padding: 5px;
}
.cr h2{
    padding-top: 50px;
    text-align: center;
    margin: 0px;
    color: black;
    font-family: 'Share Tech Mono', monospace; 
}
.iconos img{

    margin: 40px 20px 20px 20px;
    width: 30px;
}
.iconos{

    margin: 0vh 10vw 0vh 2vw;
}
.datos{
    margin: 24px 5vw 0px 10vw;
    font-family: 'Share Tech Mono', monospace; 
}
@media screen and (min-width:800px) {
    .iconos{
        margin: 0vh 20vw 0vh 2vw;
    }
}
@media screen and (min-width:1080px) {
    .datos{
        margin: 24px 0vw 0px 45vw;
    }
    
}